@media only screen and (max-width: 900px) {
    body {
        background-color: #350434;
    }

    main {
        margin: 4px;
        background-color: rgba(255, 255, 255, 0.104);
        border-radius: 10px;
        padding: 12px;
    }

    .page_head {
        display: inline-block;
        justify-content: center;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dp_image {
        height: 50vw;
    }

    .name_section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name,
    .description {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
    }

    .MyName_Name {
        color: white;
        font-size: 40px;
    }

    .description_text {
        font-size: 18px;
    }

    .separator {
        height: 4px;
    }

    .about_section,
    .projects_section,
    .contact_section,
    .social_section,
    .skill_section {
        margin: 8px;
        padding: 18px;
    }

    .content_heading_text,
    .content_heading_text_b {
        font-size: 18px;
    }

    .content_text,
    .content_text_b {
        font-size: 12px;
    }

    .skill_text_a,
    .skill_text_b {
        font-size: 12px;
    }

    .qst {
        font-size: 12px;
    }

    .ans_field {
        width: 60vw;
        height: 40px;
    }

    .ans_field::placeholder {
        font-size: 10px;
    }

    .submit_btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submit_button {
        width: 40vw;
        margin: 4px;
        font-size: 14px;
    }

    .copy_text {
        font-size: 8px;
    }

}