* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    padding: 10px;
    background-color: #223504;
}

main {
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.104);
    border-radius: 10px;
    padding: 20px;
}

.page_head {
    display: flex;
    justify-content: center;
}

.dp_image {
    height: 340px;
    border-radius: 40px 10px 40px 10px;
    margin: 10px;
}

.name_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name,
.description {
    background-color: rgba(255, 255, 255, 0.068);
    padding: 20px;

    display: flex;
    justify-content: center;
    margin: 10px;
}

.name {
    border-radius: 40px 10px 40px 10px;
}

.MyName_Name {
    color: white;
    font-size: 80px;
}

.description {
    flex-wrap: wrap;
    border-radius: 10px 40px 10px 40px;
}

.description_text {
    color: white;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}

.separator {
    height: 20px;
}

.separator_line {
    color: rgba(255, 255, 255, 0.145);
    width: 80dvw;
    height: 4px;
    border: none;
}


.about_section,
.projects_section,
.contact_section,
.social_section,
.skill_section {
    margin: 8px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.069);
    color: white;
    border-radius: 40px 10px 40px 10px;
}

.skill_section,
.contact_section {
    border-radius: 10px 40px 10px 40px;

}

.content_heading_section {
    display: flex;
}

.content_heading_text,
.content_heading_text_b {
    background-color: #ffffff12;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px 10px 20px 10px;
    margin: 4px;
}

.content_heading_text_b {
    border-radius: 10px 20px 10px 20px;
}

.content_text_section,
.content_text_section_content,
.content_text_section_skill {
    display: flex;
}

.content_text_section_skill {
    display: flex;
    flex-wrap: wrap;
}



.content_text,
.content_text_b {
    background-color: #ffffff12;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px 20px 20px 10px;
    margin: 4px;
}

.content_text_b {
    border-radius: 20px 20px 10px 20px;
}

.skill_card {
    display: flex;
    flex-wrap: wrap;
}

.skill_text_a,
.skill_text_b {
    background-color: rgba(255, 255, 255, 0.104);
    padding: 20px;
    margin: 4px;
    font-size: 20px;
}

.skill_text_a {
    border-radius: 20px 10px 20px 10px;
}

.skill_text_b {
    border-radius: 10px 20px 10px 20px;
}

.content_text_section_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_form_section {

    background-color: rgba(255, 255, 255, 0.104);
    padding: 18px;
    /* margin: 4px; */
    border-radius: 10px 20px 10px 20px;
}



.qst {
    font-size: 18px;
}

.ans_field {
    background-color: #ffffff18;
    border: none;
    width: 40vw;
    height: 50px;
    border-radius: 4px 8px 4px 8px;
}

.ans_field::placeholder {
    color: rgba(255, 255, 255, 0.603);
    padding: 8px;
    font-size: 14px;
}

.submit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_button {
    width: 10vw;
    padding: 10px;
    margin: 4px;
    background-color: #ffffff42;
    border-radius: 10px 20px 10px 20px;
    color: white;
    border: none;
    font-size: 20px;
}

.social_icon {
    height: 40px;
    margin: 4px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.105);
    border-radius: 4px 4px 8px 4px;
}

.social_logo_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.footer_content {
    display: flex;
    align-items: center;
    background-color: #ffffff2c;
    margin: 8px;
    border-radius: 10px;
}

.copy_text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer_list {
    list-style-type: none;
    margin-left: auto;
}

.footer_item_section {
    display: flex;

}

.footer_icon {
    height: 22px;
    border-radius: 50%;
}


.footer_link {
    color: white;
}